/* root */
@font-face {
    font-family: 'roboto';
    src: url(./links-and-images/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'roboto-bolder';
    src: url(./links-and-images/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'italic-bolder';
    src: url(./links-and-images/fonts/Roboto/Roboto-BlackItalic.ttf);
}

* {
    margin: 0;
    font-family: 'roboto';
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-feature-settings: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-bar {
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    padding: 10px;
    align-items: center;
    padding: 10px;
    gap: 190px;
    justify-content: space-around;
}

.logo-text {
    height: auto;
    width: 30px;
}
.links-text {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}
.links-text:hover {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}

.links-div {
    list-style: none;
    display: flex;
    gap: 50px;
}
/* section */
.body-1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 10px;
    padding-left:0rem;
    padding: auto;
    justify-content: space-around;
}

.hero-1 {
    color: #1f2937;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 10px;
    padding-left:0rem;
    padding-right: 0rem;
    padding: auto;
    justify-content: space-around;
    flex-direction: row-reverse;

}
.hero-2 {
    color: #1f2937;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 10px;
    padding-left:0rem;
    padding-right: 0rem;
    padding: auto;
    justify-content: space-around;
    flex-direction: space-around;

}

.hero-main {
    color:#f9faf8;
    font-size: 48px;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}
.hero-sec-2 {
    color: #0e0e0e;
    font-size: 18px;
}

.hero-img {
    height: 50%;
    width: auto;
}
.hero-img-2 {
    height: 50%;
    width: auto;
    flex-direction: row-reverse; 
  }

.h2 {
    color:#1f2937;
    font-size: 48px;
}

/* footer */
.footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    padding: 20px;
}